.image-container {
    margin-left: 1em;
    background-image: url("../../assests/image2.jpg");
    width: 50%;
    height: 55vh;
}

.text-container {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.5em;
    width: 75%;
    height: 50%;
    color: white;
    padding: 5% 0 0 5%;
    margin: auto;
    background: rgba(3, 172, 240, 0.1);
}

.text-container span {
    background-color: green;
    font-style: italic;
}